@import '@/common/css/common.scss';
html,body {
    height: 100%;
}
* {
    padding: 0;
    margin: 0;
}
.c-login {
    width: 100%;
    display: flex;
    height: 100vh;
    .c-login-content {
        flex: 1 1;
        min-width: 650px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        .c-login-input {
            width: 380px;
            height: 540px;
            background-color: rgba(255,255,255,0.95);
            box-shadow: 0px 2px 10px #999;
            position: relative;
            z-index: 99;
            border-radius: 5px;
            position: relative;
            overflow: hidden;
            .input-wrapper {
                padding-top: 110px;
                width: 100%;
            }
            .login-qr {
                width: 96px;
                height:96px;
                position: absolute;
                right: 0;
                top: 0;
                background-size: cover;
                background-image: url('./img/qr-code.png');
                transform: translate(48px,-48px) rotate(45deg);
                cursor: pointer;
                // border-top: 63px solid rgb(0, 140, 255);
                // border-left: 63px solid transparent;
                &.show-cp {
                    background-image:none;
                    background-color: rgb(0, 162, 255);
                }
            }
            .qr-code {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }   
        }
        .login-content-bg {
            width: 100%;
            height: 100%;
            position: absolute;
            background-image: url('https://game.gtimg.cn/images/lol/act/img/skin/big81002.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            // filter: blur(200px) ; 
            // filter: blur(5px) sepia(60%) grayscale(50%); 
            // filter: blur(5px) sepia(60%) ; 
            filter: blur(100px) grayscale(50%) ; 
        }
    }
    .c-login-show {
        width: 520px;
        background-color: rgb(255, 123, 0);
    }
    
}
.input-wrapper {
    > div {
        margin-bottom: 30px;
        text-align: center;
    }
}

@media screen and (max-width:1024px){
    .c-login {
        .c-login-show {
            width: 0;
        }
    }
}