input {
  width: 240px;
  height: 24px;
  outline: none;
  padding: 2px 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

button {
  width: 140px;
  height: 33px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  background-color: rgb(0, 140, 255);
  color: #fff;
  padding: 5px 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

button:active {
  background-color: rgb(0, 132, 255);
}

.hide {
  display: none !important;
}